@{
    ViewBag.Title = "Filter";
}
@using MVC_EryazSoftwareTask.Models
@model OmdbAPIViewModel

<div class="row">
    <div class="col-lg-12">
        <div class="bs-component">
            <form action="/Home/Filter" class="well form-search" id="search-by-title-form" method="post">
                <fieldset>
                    <legend>Filtered Search</legend>
                </fieldset>
                <div>
                    <label class="control-label" for="t">Title:</label>
                    <input type="text" id="t" name="t" class="input-small">
                    <label class="control-label" for="y">Year:</label>
                    <input type="text" id="y" name="y" class="input-small" style="width: 100px;">
                    <label class="control-label">Plot:</label>
                    <select name="plot" style="width: 100px;">
                        <option value="" selected="">Short</option>
                        <option value="full">Full</option>
                    </select>
                    <button id="search-by-title-button" type="submit" class="btn-sm btn-primary">Search</button>
                    <button id="search-by-title-reset" type="reset" class="btn-sm">Reset</button>
                </div>
                <div class="hide" id="search-by-title-request">
                    <br>
                    <p>Request:</p>
                    <pre class="alert alert-box"><a href="javascript:;" target="_blank"></a></pre>
                </div>
                <div id="search-by-title-progress" class="hide progress progress-info progress-striped active">
                    <div class="progress-bar" style="width: 100%;">
                    </div>
                </div>
                <div class="hide" id="search-by-title-response">
                    <p>Response:</p>
                    <pre class="alert alert-success" style="margin-bottom: 0px; white-space: normal;"></pre>
                </div>
            </form>
        </div>
    </div>
</div>
@if (IsPost)
{
    <table id="sorting-table" class="table mb-0">
        <thead>
            <tr>
                <th>Movie Name</th>
                <th>Year</th>
                <th>Genre</th>
                <th>Country</th>
                <th>Plot</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Title</td>
                <td>@Model.Year</td>
                <td>@Model.Genre</td>
                <td>@Model.Country</td>
                <td>@Model.Plot</td>
            </tr>
        </tbody>
    </table>
}


